body {
    font-family: Arial, sans-serif; /* se non c'è il primo usa il secondo */
    padding: 0;
    margin: 0; /* spazio vuoto */
}
header {
    background-color: #f5f5f5;
    padding: 20px; /* spazio intorno */
    text-align: center;
}

h1 {
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 20px;
}

nav li:hover {
    background-color: grey;
}

nav a {
    color: white;
    text-decoration: none;
}

.selected {
    background-color: grey;
}


.container-box {
    display: flex;
    padding: 50px;
}

.text-box {
    margin-right: 50px;
}

.img-box img {
    width: 500px;
}

footer {
    background-color: #333;
    color: #fff;
    height: 50px;
    position: fixed;
    bottom: 0; /*distanza dal fondo*/
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
footer a {
    text-decoration: none;
    color: darkgray;
}

#divtittle {
    background-color: lightgray;
    line-height: 450%;
    color: black;
    /* perchè è più alto */
}

/* se volessi una riga vuota? */

.box {
    text-align: center; /* orizzontale */
    line-height: 225%; /* verticale */
    color: white;
    width: 100%;
    height: 35%;
}


#maindiv {
    display: flex;
    background-color: black;
}

#divinfo { /* piè di pagina?? */
    background-color: lightgray;
    text-align: left;
}
