
body {
    background-color: lightgoldenrodyellow;
}

main h3 {
    text-align: center;
}
body h4 {
    margin: 50px;
}
body div {
    margin: 25px;
}
.text\+img {
    display: grid;
    position: relative;
    align-items: center;
}

.img-box {
    display: grid;
    position: relative;
}